<h1>Home</h1>

<table border="1">
<thead>
    <tr>
    <th>콘서트이름</th>
    <th>가수</th>
    <th>콘서트날짜</th>
    <th>게시날짜</th>
    <th>현재인원</th>
    <th>최대인원</th>
    </tr>
</thead>
<tbody>
{% for post in object_list %}
    <tr>
    <td>{{ post.concert_name }}</td>
    <td>{{ post.singer }}</td>
    <td>{{ post.concert_date }}</td>
    <td>{{ post.post_date }}</td>
    <td>{{ post.now_capacity }}</td>
    <td>{{ post.capacity }}</td>
    <td><a href="{% url 'update' post.id %}">update</a></td>
    <td><a href="{% url 'delete' post.id %}">delete</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

<a href="{% url 'create' %}">new</a>