<html lang="kr">

<head>
    <meta charset="utf-8">
    
    <title>GuestHouse</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    
</head>

<body>
    <h1>Home</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>글쓴이이메일</th>
                <th>콘서트이름</th>
                <th>가수</th>
                <th>콘서트날짜</th>
                <th>게시날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
            <tr>
                <td>{{ post.owner_email }}</td>
                <td>{{ post.concert_name }}</td>
                <td>{{ post.singer }}</td>
                <td>{{ post.concert_date }}</td>
                <td>{{ post.post_date }}</td>
                <td><a href="{% url 'detail' post.id %}">detail</a></td>
                <td><a href="{% url 'update' post.id %}">update</a></td>
                <td><a href="{% url 'delete' post.id %}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'create' %}">new</a>
    <a href="{% url 'start' %}">시작</a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>